/*
* Mastermind VanillaJS
* Cyril Moreau - @cycymomo - MIT Licence
*/
body {
  display: flex;
  min-height: 100vh;
  margin: 0;
}

div#game {
  margin: auto;
}

div#game span {
  height: 40px;
  width: 40px;
  border: 1px #000 solid;
  display: inline-block;
  padding: 1px;
  margin: 1px;
}

#couleursATrouver, #palette {
  display: none;
}

#validChoice {
  visibility: hidden;
}

#couleursAChoisir > span, #palette > span {
  cursor: pointer;
}

#couleursAChoisir > span:active {
  border-color: #f00;
}

.rowResultBlanc, .rowResultRouge {
  width: 20px !important;
  border: 1 !important;
  height: 20px !important;
}

.rowResultBlanc {
  background-color: #fff !important;
}

.rowResultRouge {
  background-color: #f00 !important;
}
