/*
* Mastermind VanillaJS - septembre 2014
* Cyril Moreau - @cycymomo - MIT Licence
*/
div#game > div {
  padding: 5px;
  margin: 5px;
}

div#game span {
  height: 40px;
  width: 40px;
  border: 1px #000 solid;
  display: inline-block;
  padding: 1px;
  margin: 1px;
}

#couleursATrouver, #palette {
  display: none;
}

#validChoice {
  visibility: hidden;
}

#couleursAChoisir > span, #palette > span {
 cursor: pointer;
}

#couleursAChoisir > span:active {
  border-color: #f00;
}

.rowResultBlanc, .rowResultRouge {
  width: 20px !important;
  border: 1 !important;
  height: 20px !important;
}

.rowResultBlanc {
  background-color: #fff !important;
}

.rowResultRouge {
  background-color: #f00 !important;
}
